:root {
    --headingFont : 'Merriweather';
    --mainFont: 'Open Sans', sans-serif;
    --primaryColor: #002939;
    --secondaryColor: #DDC190;
}

body {
    font-family: var(--mainFont);
}

.heading {
    font-family: var(--headingFont);
    color: var(--secondaryColor);
    font-weight: 900 !important;
}

/* Navbar */
.navbar {
    background-color: var(--primaryColor) !important;
}

.navbar-brand {
    font-weight: 900;
}

.navbar-brand span{
    color: var(--secondaryColor);
}

.nav-item .active {
    font-family: var(--headingFont);
    font-weight: 700;
    color: var(--secondaryColor) !important;
}

.icons-nav a{
    color: var(--secondaryColor);
}

/* Main Section */

.main {
    padding-top: 17px;
    background-color: var(--primaryColor);
}

/* Service Section */
.service .card-service {
    border: 2px solid;
    background-color: var(--primaryColor);
}

.btn-Primary {
    color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
}

.card-banner {
    background-color: var(--primaryColor);
}

.img-banner img {
    width: 50%;
}

/* Section Product */
.slide-btn {
    color: var(--secondaryColor);    
}

.card-product {
    width: 300px;
}

.product-img {
    border: 2px solid var(--primaryColor);
}

.color-Primary {
    background-color: var(--primaryColor);
}

/* New Product */

.img-product {
    background-color: var(--primaryColor);
}

.new-product .card-title {
    font-family: var(--headingFont);
    font-weight: 700;
}

.btn-Secondary {
    background-color: var(--primaryColor);
}

.new-card {
    display: none;
}

/* Section Contact */

.contact .card-contact {
    background-color: var(--primaryColor);
}

.contact .contact-cons i {
    color: var(--secondaryColor);
    font-size: 80px;
}   


/* Section team */
.team .card-team {
    background-color: var(--primaryColor);
}

.team .card-img img {
    background-color: var(--secondaryColor);
}

.team .sosial i {
    font-size: 3.2rem !important;
    color: var(--secondaryColor);
}


footer {
    background-color: var(--primaryColor);
}

footer span {
    color: var(--secondaryColor);
}

footer strong {
    font-family: var(--headingFont);
}


/* Float Wa */
.Whatsapp .wa i {
    font-size: 5em;
    color: green;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 100;
}


/* Untuk Login */

.login-body {
    background-color: var(--primaryColor);
}

.auth {
    padding-top: 10vh;
}
/*  */
.konten-kanan {
    background-color: #fff;
}

/* Style belanja */

.card-sos {
    color: #fff;
    background-color: var(--primaryColor);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #3f43fd;
    float: left;
    width: 44px;
    height: 44px;
    background: #f0f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #010483;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #0205a1;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #febb1b;
    color: #fff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #febb1b;
    margin: 4px 10px;
  }